/* Elemento tipo selector */
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    /* Texto en negrita */
    font-style: italic;
    /* Texto en cursiva */
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* Texto en negrita */
    font-style: italic;
    /* Texto en cursiva */
    margin: 50px;
    padding: 3px;
    text-align: justify;
}

.flex-container {
    display: flex;
    flex-direction: row;
}


img {
    display: block;
    /* Quita el espacio inferior */
    margin: 0 auto;
    /* Centra la imagen */
    height: 500;
    width: 300;
}

body {
    background-color: rgb(171, 177, 177);
}

/* Selector de clase */
.highlight {

    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(102, 95, 95);
}

/* Selector de identidad */


/* Selector universal */
* {
    margin: 3px;
    padding: 3px;
}

/* Selectores de agrupación */
h2,
h3,
h4 {
    text-align: center;
    color: rgb(245, 1, 1);
    font-style: oblique;
}

#footer {
    background-color: rgb(255, 255, 255);
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    /* Texto en negrita */
    font-style: italic;
    /* Texto en cursiva */
}

a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 119, 255);
    line-height: 50px;
}



iframe {
    margin: 0 auto;
    display: block;
}